<form action="/results" method="get">
  <input type="text" name="search" placeholder="keyword">
  <select name="type">
    <option value="movie">movies</option>
    <option value="series">series</option>
  </select>
  <input type="submit" >
</form>
